<%- include("partials/header"); -%>


<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>منظمة ارماس</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="images/ارماس لوجو.jpg" sizes="32x32" type="image/png">
    <!-- custom.css -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- font-awesome -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    
    <!-- AOS -->
    <link rel="stylesheet" href="css/aos.css">



</head>
<body>
    
    <!-- banner -->

      
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(images/BANNER3.png);">
        <div class="container text-center text-md-left">
            <header>
                
        
                   
                    

            </header>
            
            <h1  data-aos="fade" data-aos-easing="linear" data-aos-duration="1500" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
            	ARMAS<br>
                Organization
            </h1>
            
            <p id="tital"  data-aos="fade" data-aos-easing="linear" data-aos-duration="1500" data-aos-once="true" class="lead text-white my-4">
                
              

               <p id="my-name" data-aos="fade" data-aos-easing="linear" data-aos-duration="1500" data-aos-once="true" class="lead text-white my-4">
              
              </p>
               
                 
            <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1500" data-aos-once="true" class="lead text-white my-4">
              
                
            
        </div>
    </div>
    
    
    
    <!-- three-blcok -->




    
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5">فصائل الدم </h2>
        
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1500" data-aos-once="true" class="col-md-4 text-center">

                <!--ازرار فصائل الدم-->

                <a href="/A+">
                         
                <img src="images/blood.png" alt="Anti-spam" class="mx-auto" width="150px" height="150px">
               </a>


                <h4>A+</h4>
<p  dir="rtl">

</p>            
            </div>


     


                                                                <!-- o+  ------------------------------ -->
                                                                
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500" data-aos-once="true" class="col-md-4 text-center">
                <a href="/O+">
                <img src="images/blood.png" alt="Phishing Detect" class="mx-auto" width="150px" height="150px"  >
                </a>
                <h4>O+</h4>
                             <p dir="rtl">
                                

                             </p>        
    </div>




                                                             <!-- AB+  --------------------------- -->

            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1500" data-aos-once="true" class="col-md-4 text-center">
                <a href="/AB+">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="150px" height="150px" >
                </a>

                <h4>AB+</h4>


  </div>

                                       <!--  O-   ----------------------------------------->

            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1500" data-aos-once="true" class="col-md-4 text-center">
                <a href="/O-">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="150px" height="150px" >
                </a>
                <h4>0-</h4>

            </div>


                                              <!--------------- A-   ---------------------------->

            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1500" data-aos-once="true" class="col-md-4 text-center">
                <a href="/A-">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="150px" height="150px" >
                </a>
                <h4>A-</h4>

               
            </div>

                                               <!--------------- AB-   ---------------------------->

            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1500" data-aos-once="true" class="col-md-4 text-center">
                <a href="/AB-">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="150px" height="150px" >
                </a>
                <h4>AB-</h4>
            </div>

                                                      <!--------------- B-   ---------------------------->


            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1500" data-aos-once="true" class="col-md-4 text-center">
                <a href="/B-">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="150px" height="150px" >
                </a>
                <h4>B-</h4>
            </div>


                                                             <!--------------- B+   ---------------------------->
            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1500" data-aos-once="true" class="col-md-4 text-center">
                <a href="/B+">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="150px" height="150px" >
                </a>
                <h4>B+</h4>
            </div>


        </div>
    </div>
    <!-- feature (skew background) -->





    <div ></div>
    
    <div class="jumbotron jumbotron-fluid" id="contact" style="background-image: url(images/foteer\ armass.png);">
        <div class="container my-5">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white">
                    <h2 class="font-weight-bold">تواصل معنا </h2>
                    <p class="my-4">
                      نحن نتطلع الى سماع رأيك و ملاحظاتك حول تجربتك معنا, يمكنك التواصل معنا عبرالبريد الالكتروني او الهاتف او عن طريق مواقع التواصل الاجتماعي
                        <br> 
                        <div class="contact-info">
                            <div class="phone">
                              <i class="fas fa-phone"></i>
                              <a href="tel:091-8591985">091-8591985</a>
                            </div>
                            <div class="email">
                              <i class="fas fa-envelope"></i>
                              <a href="Ngo.armas@gmail.com">Ngo.armas@gmail.com</a>
                            </div>
                            <div class="facebook">
                              <i class="fab fa-facebook"></i>
                              <a href="https://www.facebook.com/profile.php?id=100089577814064">Facebook</a>
                            </div>
                          </div>
                          <br> 

                        <h5>developers :</h5>
                        <ul>
                            <li>Yasmen Abo Sanoga</li>
                            
                        </ul>
                        
                    </p>
                  
                   
                </div>
                <a href="https://www.facebook.com/profile.php?id=100089577814064">
                <img align=" center"  src="images/armas.png" width="150px" height="150px"  >
                </a>
                <a href="https://www.facebook.com/profile.php?id=100092635201134">
                <img align=" center"  src="images/collage logo.png" width="150px" height="150px">
                 </a>
                <img align=" center"  src="images/armas.png" width="150px" height="150px">

                

                
                
                    </form>
                </div>
            </div>
        </div>
    </div>


   

	<!-- copyright -->

    
	<div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
            	<div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                    Copyright © Armas-Organization.
                </div>
                     
                   
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- AOS -->
    <script src="js/aos.js"></script>
    <script>
      AOS.init({
      });
    </script>
</body>

</html>




<%- include("partials/footer"); -%>