<%- include("partials/header"); -%>


<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>منظمة ارماس</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="images/ارماس لوجو.jpg" sizes="32x32" type="image/png">
    <!-- custom.css -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- font-awesome -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    
    <!-- AOS -->
    <link rel="stylesheet" href="css/aos.css">









</head>
<body>
    
    <!-- banner -->


    



    <div class="top-bar">

    </a>
    <a  link rel="" type="" href="https://www.facebook.com/CETZ.EDU.LY">
      <img src="images/collage logo.png" alt="Sponsor Logo 2" width="150" height="150">
  </a>

        <a link rel="" type="" href="https://www.facebook.com/profile.php?id=100089577814064">
        <img src="images/armas.png" alt="Sponsor Logo 1" width="130" height="130">
    
    <a  link rel="" type="" href="https://www.facebook.com/groups/278478487960391/?ref=share_group_link">
        <img src="images/techlogo.png" alt="Sponsor Logo 2" width="50" height="45">
    </a>


      </div>

      
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(images/BANNER3.png);">
        <div class="container text-center text-md-left">
            <header>
                <div class="row justify-content-between">
                   
                    

            </header>
            
            <h1  data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
            	ARMAS<br>
                Organization
            </h1>
            
            <p id="tital"  data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
                
               برعاية : كلية التقنية الهندسية زوارة

               <p id="my-name" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
               Developer. Yasmen Abo Sanoga
              </p>
               
                 
            <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
              
                
            
        </div>
    </div>
    
    
    
    <!-- three-blcok -->




    
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5">فصائل الدم </h2>
        
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">

                <!--ازرار فصائل الدم-->

                <a href="/A+">
                         
                <img src="images/blood.png" alt="Anti-spam" class="mx-auto" width="100px" height="100px">
               </a>


                <h4>A+</h4>
<p  dir="rtl">تعتبر فصيلة الدم A+ واحدة من الفصائل الدموية الأكثر شيوعًا في العالم، حيث تمثل حوالي 30٪ من سكان العالم. وتعد فصيلة الدم A+ مهمة جدًا في عمليات نقل الدم، حيث يمكن نقلها لأشخاص آخرين من نفس الفصيلة الدموية، ولكن يمكن أيضًا نقلها لأولئك الذين لديهم فصيلة الدم AB+ المتعددة الأنوية.

</p>            
            </div>


     


                                                                <!-- o+  ------------------------------ -->
                                                                
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <a href="/O+">
                <img src="images/blood.png" alt="Phishing Detect" class="mx-auto" width="100px" height="100px"  >
                </a>
                <h4>O+</h4>
                             <p dir="rtl">فصيلة الدم O+ هي أكثر فصائل الدم شيوعًا في العالم، وتمثل حوالي 38٪ من سكان العالم. وتعد فصيلة الدم O+ مهمة جدًا في عمليات نقل الدم، حيث يمكن نقلها لأشخاص آخرين من نفس الفصيلة الدموية، وهي فصيلة دم خالية من مستضدات Rh وبالتالي يمكن نقلها لأشخاص آخرين الذين يحملون فصيلة دم O بغض النظر عن نوع مستضدات Rh التي يحملونها.

                             </p>        
    </div>




                                                             <!-- AB+  --------------------------- -->

            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <a href="/AB+">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="100px" height="100px" >
                </a>

                <h4>AB+</h4>
<p dir="rtl">فصيلة الدم AB+ هي واحدة من أندر فصائل الدم في العالم، وتمثل حوالي 1٪ من سكان العالم. وهي تعد فصيلة دم متعددة الأنوية، حيث تحتوي على مستضدات A و B و Rh، وبالتالي يمكن نقلها لأي شخص يحتاج إلى فصيلة دم متوافقة مع A أو B أو AB أو O، وهي مهمة جدًا في حالات الطوارئ عندما يكون من الصعب تحديد فصيلة الدم المناسبة للمريض. ومع ذلك، فإن فصيلة الدم AB+ تعتبر نادرة وغير متاحة بسهولة في المخزونات، ولذلك يتم استخدامها فقط في الحالات التي تتطلب نقل الدم بشكل ملحّ.

</p>   </div>

                                       <!--  O-   ----------------------------------------->

            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <a href="/O-">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="100px" height="100px" >
                </a>
                <h4>0-</h4>
<p dir="rtl">فصيلة الدم O- هي واحدة من الفصائل الدموية النادرة في العالم، حيث تمثل حوالي 7٪ من سكان العالم. وتعتبر فصيلة الدم O- مهمة جدًا في عمليات نقل الدم، حيث يمكن نقلها لأي شخص بغض النظر عن فصيلته الدموية، ولكن يمكن أن يتلقى الأشخاص الذين يحملون فصيلة الدم O- الدم فقط من الأشخاص الذين يحملون فصيلة الدم O-. وهذا يجعل فصيلة الدم O- مهمة جدًا في حالات الطوارئ عندما يكون من الصعب تحديد فصيلة الدم المناسبة للمريض، ويتم استخدامها في حالات النزيف الحاد والعمليات الجراحية والحوادث والإصابات الحادة والحالات الطبية الأخرى.

</p>            </div>


                                              <!--------------- A-   ---------------------------->

            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <a href="/A-">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="100px" height="100px" >
                </a>
                <h4>A-</h4>
                <p dir="rtl">فصيلة الدم A- هي واحدة من الفصائل الدموية النادرة في العالم، حيث تمثل حوالي 6٪ من سكان العالم. وتعتبر فصيلة الدم A- مهمة جدًا في عمليات نقل الدم، حيث يمكن نقلها لأشخاص آخرين المصابين بفصيلة الدم A- أو AB-، ولكن يمكن أن يتلقى الأشخاص الذين يحملون فصيلة الدم A- الدم فقط من الأشخاص الذين يحملون فصيلة الدم A- أو O-. ويتم استخدام فصيلة الدم A- في حالات الطوارئ عندما يكون من الصعب تحديد فصيلة الدم المناسبة للمريض، ويمكن استخدامها في حالات النزيف الحاد والعمليات الجراحية والحوادث والإصابات الحادة والحالات الطبية الأخرى.

                </p>
            </div>

                                               <!--------------- AB-   ---------------------------->

            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <a href="/AB-">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="100px" height="100px" >
                </a>
                <h4>AB-</h4>
                <p dir="rtl">فصيلة الدم AB- هي واحدة من الفصائل الدموية النادرة جدًا في العالم، حيث تمثل حوالي 1٪ من سكان العالم. وتعتبر فصيلة الدم AB- مهمة جدًا في عمليات نقل الدم، حيث يمكن نقلها لأشخاص آخرين المصابين بفصيلة الدم AB- فقط، وهي الفصيلة الدموية الوحيدة التي لا تنتج أي من المستضدات A أو B أو Rh. ويمكن استخدام فصيلة الدم AB- في حالات الطوارئ عندما يكون من الصعب تحديد فصيلة الدم المناسبة للمريض،</p>
            </div>

                                                      <!--------------- B-   ---------------------------->


            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <a href="/B-">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="100px" height="100px" >
                </a>
                <h4>B-</h4>
                <p dir="rtl">فصيلة الدم B- هي واحدة من الفصائل الدموية النادرة في العالم، حيث تمثل حوالي 2٪ من سكان العالم. وتعتبر فصيلة الدم B- مهمة جدًا في عمليات نقل الدم، حيث يمكن نقلها لأشخاص آخرين المصابين بفصيلة الدم B- أو AB-، ولكن يمكن أن يتلقى الأشخاص الذين يحملون فصيلة الدم B- الدم فقط من الأشخاص الذين يحملون فصيلة الدم B- أو O-. ويتم استخدام</p>
            </div>


                                                             <!--------------- B+   ---------------------------->
            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <a href="/B+">
                <img src="images/blood.png" alt="Smart Scan" class="mx-auto"width="100px" height="100px" >
                </a>
                <h4>B+</h4>
                <p dir="rtl">صيلة الدم B+ هي واحدة من أكثر فصائل الدم شيوعًا في العالم، حيث تمثل حوالي 8٪ من سكان العالم. وتعتبر فصيلة الدم B+ مهمة جدًا في عمليات نقل الدم، حيث يمكن نقلها لأشخاص آخرين المصابين بفصيلة الدم B+ أو AB+، ويمكن أيضًا نقلها لأشخاص ذوي فصيلة الدم O+ في بعض الحالات. وتحتوي فصيلة الدم B+ على مستضدات B و Rh، وبالتالي يمكن نقلها لأي شخص يحتاج إلى فصيلة دم متوافقة مع B أو O.</p>
            </div>


        </div>
    </div>
    <!-- feature (skew background) -->





    <div ></div>
    
    <div class="jumbotron jumbotron-fluid" id="contact" style="background-image: url(images/foteer\ armass.png);">
        <div class="container my-5">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white">
                    <h2 class="font-weight-bold">تواصل معنا </h2>
                    <p class="my-4">
                      نحن نتطلع الى سماع رأيك و ملاحظاتك حول تجربتك معنا, يمكنك التواصل معنا عبرالبريد الالكتروني او الهاتف او عن طريق مواقع التواصل الاجتماعي
                        <br> 
                    </p>
                    <ul class="list-unstyled">
                        <li>Email : Ngo.armas@gmail.com</li>
                        <li>Phone : 091-8591985</li>
                        <li>Address :zuwara </li>
                    </ul>
                </div>
                
                    </form>
                </div>
            </div>
        </div>
    </div>


    

	<!-- copyright -->
	<div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
            	<div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                    Copyright © Armas-Organization.
                </div>
                <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                    <a href="https://www.facebook.com/profile.php?id=100089577814064" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- AOS -->
    <script src="js/aos.js"></script>
    <script>
      AOS.init({
      });
    </script>
</body>

</html>




<%- include("partials/footer"); -%>