<html lang="en"><head>

   
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>قائمة المتبرعين</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="css/responsive.css">
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="image/gif">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->



</head>


<body class="main-layout">


<div class="top-bar">
  <a link="" rel="" type="" href="https://www.facebook.com/profile.php?id=100092635201134">
  <img src="images/collage logo.png" alt="Sponsor Logo 1" width="130" height="130">
  </a>
  <a link="" rel="" type="" href="index.html">
  <img src="images/armas.png" alt="Sponsor Logo 2" width="150" height="150">
  </a>
    <button class="print-button" onclick="window.print()">طباعة</button>
         
   <button>
      
      <a href="/print<%= data[0].bloodType %>"> تغير الشكل </a>
      
      
   </button>

 </div>









<!-- body -->


  

  <!-- loader  -->
  <div class="loader_bg">
     <div class="loader"><img src="images/loading.gif" alt="#"></div>
  </div>
  <!-- end loader -->
  <!-- header -->
  <header>
     
  <div class="testimonial">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage">
                 <h2><%= data[0].bloodType %> </h2>
                 <p>متبرعين فصيلة الدم  </p>
              </div>
           </div>
        </div>

       
  <!--    B+   هنا  قسم المتبرعين    -->




  
  <div class="search-container">
     
     
     <div class="search-box">
       <input type="text" id="searchInput" placeholder="Search by name...">
       <button onclick="searchDonors()">Search</button>
       <div class="radioo">
         <label for="male">ذكر</label>
         <input type="radio" id="male" name="gender" value="male">
         <label for="female">أنثى</label>
         <input type="radio" id="female" name="gender" value="female">
       
     </div>
   </div>



  <div class="card-list-container">
     <div class="card-list">
     <% data.forEach(person => { %>
     <div class="card">
     <div class="card-content">
     <p>Age: <%= person.age %></p>

<a href="tel:<%= person.phoneNo %>" class="phone-button">Call-1</a>

<a href="tel:<%= person.phoneNo %>" class="phone-button">Call-2</a>

</div>
</div>

<% }); %>



   
  
  


 <!--نهاية قسم المتبرعين -->



                    <div class="carousel-item">
                       <div class="container">
                          <div class="carousel-caption">
                             <div class="row">
                                <div class="col-md-6 margin_boot">
                                   <div class="test_box">
                                      <i><img src="images/tes.jpg" alt="#"></i>
                                      <h4>JCKOLO</h4>
                                      <span>(It is a long )</span>
                                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                   </div>
                                </div>
                                <div class="col-md-6 margin_boot">
                                   <div class="test_box">
                                      <i><img src="images/tes1.jpg" alt="#"></i>
                                      <h4>ROCOYO</h4>
                                      <span>(It is a long )</span>
                                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                   </div>
                             </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 
              </div>
           </div>
        
     
  
  <!-- end testimonial -->
  
  <!--  footer -->
 
    
  <footer>
   <p>&copy; 2023 -  armas organization</p>
 </footer>

  <!-- end footer -->
  <!-- Javascript files-->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery-3.0.0.min.js"></script>
  <!-- sidebar -->
  <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/custom.js"></script>

</header></body></html>